html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.first-stage {
  width: auto;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,103,0,1) 100%);
}

.second-stage {
  width: auto;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,103,0);
  background: linear-gradient(180deg, rgba(255,103,0,1) 0%, rgba(255,216,0,1) 100%);
}

.third-stage {
  width: auto;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,216,0);
  background: linear-gradient(180deg, rgba(255,216,0,1) 0%, rgba(200,255,0,1) 100%);
}

.fourth-stage {
  width: auto;
  height: 39vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(200,255,0);
  background: linear-gradient(180deg, rgba(200,255,0,1) 0%, rgba(25,255,0,1) 70%, rgba(1,7,43,1) 100%);
}

#text1, #text2, #text3, #text4 {
  margin-left: 5vw;
  margin-bottom: 0.5vw;
  font-weight: 600;
}

#text4 {
  margin-bottom: 10.3vw;
}

#emotion4 {
  margin-bottom: 9.7vw;
}

.zag {
  padding-left:9vw;
  padding-top: 10vw;
  color: white;
  font-size: 6vw;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.zag h1 {
  margin-left: 1.2vw;
  background: -webkit-linear-gradient(left, #FF0017, #FF6526, #FFD747, #00FF4F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.podzag {
  padding-left: 9.25vw;
  padding-top: 10vw;
  color: white;
  position: absolute;
  top: 20vh;
  font-size: 4vw;
  font-weight: 300;
}


.station img {
  width: 50%;
  position: absolute;
  left: 3vw;
  top: 60vh;
}

.logo img {
  width: 25%;
  position: absolute;
  right: 17vw;
  top: 67vh;
}

.description {
  color: white;
  position: absolute;
  right: 15vw;
  top: 83vh;
  font-size: 2.3vw;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description p {
  margin-bottom: 1vw;
}


.text {
  color: white;
  font-size: 5vw;
}

.emotion {
  color: white;
  font-size: 7vw;
}

.wanna_try_button {


display: flex;
position: absolute;
left: 0;
right: 0;
top: 115vh;
margin-left: auto;
margin-right: auto;
width: 100px;

width: 10em;
height: 10vh;

text-decoration: none;

color: white;
border: 3px solid #ffffff;
border-radius: 9px;
background: transparent;

font-size: 32px;

align-items: center;
justify-content: center;
align-content: center;
}

#particles-js {
  width: auto;
  height: 130vh;
  background: #00062d;
  position: relative;
}
